@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(360deg, rgba(193, 223, 233, 0.8), rgba(172, 240, 172, 0.5));
    background-repeat: no-repeat;

}
/* Making a container a grid */
.container{
    display:grid;
    height:100vh;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:0.2fr 0.8fr 0.5fr 0.2fr;
    grid-template-areas:
        "navbar navbar navbar navbar"
        "sidebar main main main"
        "sidebar content1 content2 content3"
        "sidebar footer footer footer";
    grid-gap:0.2em;
    text-transform: uppercase;
}
nav{
    background-color: rgb(134, 55, 224);
    color:white;
    /* grid-column: 1/span2; */
    text-align:center;
    grid-area:navbar;
    font-weight:800;
    padding-top: 20px;
    text-shadow: 0.5px 0.5px black;

}
#sidebar{
  /* grid-row:2/span1; */
  background-color: rgb(104, 135, 135);
  color:white;
  text-align:center;
  grid-area:sidebar;
  padding-top: 20px;
 
}
main{
    background-color: aquamarine;
    /* grid-column:2/span3; */
    text-align:center;
    grid-area:main;
    padding-top: 20px;
}
#Content1{
  background-color: rgb(242, 242, 242);
  /* grid-row:3/span1; */
  text-align:center;
  grid-area:content1;
  padding-top: 20px;
}
#Content2{
    background-color: rgb(242, 242, 242);
    /* grid-row:3/span1; */
    text-align:center;
    grid-area:content2;
    padding-top: 20px;
}
#Content3{
    background-color: rgb(242, 242, 242);
    /* grid-row:3/span1; */
    /* grid-column:4/span0; */
    text-align:center;
    grid-area:content3;
    padding-top: 20px;
}
footer{
   background-color:  rgb(134, 55, 224);
   /* grid-column:1/span2; */
   color:white;
   text-align:center;
   grid-area:footer; 
   padding-top: 20px;
   font-weight:800;
   text-shadow: 0.5px 0.5px black;
  
}
.buttons{
    margin-top:1em;
    margin-left:0.5em;
    margin-bottom:1em;
}
.a_btn1{
    margin-right:1em;
}
.a_btn3{
    margin-left: 1em;
}
.btn{
    background-color: rgb(134, 55, 224);
    color:white;
    border-radius:0.5em;
    padding:0.2em;
    
}
.btn:hover{
    background-color:white;
    color:black;
    border:2px blue solid;
}
/* Mobile Design */
@media only screen and (max-width:650px){
    .container{
        grid-template-columns:1fr;
        grid-template-rows: 0.2fr 0.4fr 0.9fr 0.45fr 0.45fr 0.45fr 0.2fr;
        grid-template-areas: 
            "navbar"
            "sidebar"
            "main"
            "content1"
            "content2"
            "content3"
            "footer";
    }
}
