@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

        body {
            font-family: 'Roboto', sans-serif;
            background-color: rgb(224, 243, 244);
            overflow:auto;
            margin:0;
        }

        .navbar-list {
            display: flex;
            margin-top: 0.4rem;

        }
        #nav-list{
            list-style-type:none;
            display:flex;
        }

        nav {
            display: flex;
            background-color: rgb(134, 55, 224);
            width: 100%;
            position:sticky;
            top:0;
            z-index:1;
        }


        @media only screen and (max-width:650px) {
            .navbar-list {
                display: block;
                text-align: center;
            }

            nav {
                display: block;
            }

            .logo_img{
                text-align:center;
            }
            .navbar-list{
                display:block;
                text-align:center;
            }
            #nav-list{
                display:block;
            }

            #home {
                padding-bottom: 2%;

            }

            #secondwebpage {
                padding-bottom: 2%;
                margin-top: 1%;
            }

            #thirdwebpage {
                padding-bottom: 2%;
                margin-top: 1%;
            }
            .foot-header2{
                margin-left:2rem;
            }
            #submit-btn{
                margin-top:4px;

            }


        }

        #my_logo {
            width: 55px;
            border-radius: 2rem;
            margin: 0.2rem 2rem 0rem 0.2rem;
        }

        li .list-items {
            text-decoration: none;
            color: white;
            font-size: 1em;
            margin-right: 4rem;
            margin-left: 0.2rem;
        }

        li .list-items:hover {
            font-weight: bold;
            text-shadow: 0.5px 1px black;
        }

        main{
            height: 100%;
            overflow:auto;
            z-index:0;
        }

        h3{
            text-align: center;
        }
        .header-content{
            margin-top:-0.5em;
        
        }
        .header-content>h3{
            font-size:1.2em;
        }

        div img {
            border-radius: 2em;

        }

        .main-container {
            height: 80vh;
            margin:1em;
            overflow:auto;
        }

        footer {
            background-color: rgb(134, 55, 224);
            color: white;
            padding-top: 0.2rem;
            padding-bottom: 0.2rem;
            height:100%;

        }

        [class="footer-info"] a {
            display: block;
            color: white;
            text-decoration: none;
            margin-top: 0.5rem;
            font-size:1.1em;
        }

        .footer-info {
            list-style-type: none;
        }

        [name="footer-title"] {
            padding-left: 2rem;
        }

        .foot-container {
            display: flex;
            justify-content: space-evenly;
            margin:0 1rem 0 1rem;
        }

        .foot-header1 {
            text-align: center;
        }
        .text-form {
            margin-top: 33px;
        }

        #email {
            padding: 0.3rem;
            border-radius: 0.3rem;
            font-size: 0.8rem;
        }

        #submit-btn {
            background-color: rgb(73, 73, 232);
            color: white;
            padding: 0.2rem;
            font-size: 0.8rem;
            border-radius: 0.3rem;
        }
        .social-media:hover{
            font-weight: bold;
            text-shadow: 0.5px 1px black;
        }