ul{
    display:flex;
    list-style-type:none;
    color:yellow;

}
nav{
    display:flex;
    background-color: rgb(53, 147, 170);
}
#my_logo{
    width:55px;
    border-radius: 2rem;
    margin: 0.2rem 2rem 0rem 0rem;
}
li{
    margin:0.2rem 4rem 0rem -0.7rem;
}
li a{
    text-decoration:none;
    color:white;
    font-size:1.2rem;
}
li a:hover{
    color:black;
    padding:0.8rem;
    background-color:lightblue;
}
body{
    background-color:azure;
}
main{
    height:100%;
}
h2{
    text-align: center;
}
div img{
    border-radius: 2em;
    
}
footer{
    text-align: center;
    background-color: rgb(53, 147, 170);
    color:white;
    padding: 0.2rem 0 0.2rem 0;
    font-size: 1.2rem;

}